
body {
	
	background-image: url("../images/Un-goro-Crater-map.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



#random-number{
	font-size: 28px;
}

.gnome {
	width: 100px;
	height: auto;
	float: left;
	margin-right: 5px;
}

#player-score {
	font-size: 28px;
} 

.crystal-image {
	width: 100px;
	height: 100px;
}

.well {
	background-image: url("../images/parchment.jpg")
}